<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.tradepro.paper-fx</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>cd /Users/skumar/sourcecode/tradepro/tradepro/strategies &amp;&amp; uv run tradepro-paper --broker t212 --strategy ichimoku_fx_mr --capital-usd 50000 --warmup-bars 200 --placement-mode manual --push 2&gt;&amp;1</string>
    </array>
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Weekday</key><integer>1</integer>
            <key>Hour</key><integer>22</integer>
            <key>Minute</key><integer>5</integer>
        </dict>
        <dict>
            <key>Weekday</key><integer>2</integer>
            <key>Hour</key><integer>22</integer>
            <key>Minute</key><integer>5</integer>
        </dict>
        <dict>
            <key>Weekday</key><integer>3</integer>
            <key>Hour</key><integer>22</integer>
            <key>Minute</key><integer>5</integer>
        </dict>
        <dict>
            <key>Weekday</key><integer>4</integer>
            <key>Hour</key><integer>22</integer>
            <key>Minute</key><integer>5</integer>
        </dict>
        <dict>
            <key>Weekday</key><integer>5</integer>
            <key>Hour</key><integer>22</integer>
            <key>Minute</key><integer>5</integer>
        </dict>
    </array>
    <key>StandardOutPath</key>
    <string>/tmp/tradepro-paper-fx.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/tradepro-paper-fx.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/anaconda3/bin:/usr/local/bin:/usr/bin:/bin:/opt/homebrew/bin</string>
        <key>HOME</key>
        <string>/Users/skumar</string>
    </dict>
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
