<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.tradepro.paper-equity</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>cd /Users/skumar/sourcecode/tradepro/tradepro/strategies &amp;&amp; uv run tradepro-paper --broker t212 --strategy ichimoku_equity --symbols AAPL,MSFT,NVDA,TSLA,AMZN,GOOGL,META,BRK-B,JPM,V,SHEL.L,BP.L,AZN.L,HSBA.L,ULVR.L,GSK.L,LLOY.L,BARC.L,GLEN.L,VOD.L --capital-usd 100000 --sleeve-size 10 --placement-mode auto --push 2&gt;&amp;1</string>
    </array>
    <key>StandardOutPath</key>
    <string>/tmp/tradepro-paper-equity.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/tradepro-paper-equity.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/anaconda3/bin:/usr/local/bin:/usr/bin:/bin:/opt/homebrew/bin</string>
        <key>HOME</key>
        <string>/Users/skumar</string>
    </dict>
    <key>RunAtLoad</key>
    <false/>

    <key>StartInterval</key>
    <integer>900</integer>
</dict>
</plist>
